<div class="card habit-card big-card">
    <h3>Pick a date</h3>
    <div class="log-history">
        <% unless @days.length == 0 %>
            <% log_history = @days.sort {|a, b| b.logs_date <=> a.logs_date} %>
            <% log_history.each do |day| %>
                <%= link_to day_path(day) do %>
                    <div class="card-body small-shadow-card">
                        <%= day.logs_date.strftime(day.logs_date.year < Time.new.year ? "%b %d, %Y" : "%b %d") %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <h4>You haven't logged any habit yet!</h4>
        <% end %>
    </div>
<div>
