// Place all the styles related to the habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#habits-container > a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.inline-list li {
    display: inline;
}

// modal styling
.modal-dialog.custom-modal {
    border-style: none;
    border-radius: 10px;
}

.lightseagreen-modal-header {
    color: white;
    background-color: lightseagreen;
}
