<%= button_tag 'habit +', class: "orange-btn", "data-toggle"=>"modal", "data-target"=>"#newHabitModal", type: "button" %>
  
<div id="habits-container">
  <% @habits.each do |habit| %>
    <%= link_to habit_path(habit) do %>
      <div class="card habit-card">
        <div class="card-body">
          <h5 class="card-title"><%= habit.name.capitalize %></h3>
          <h6 class="card-subtitle">current streak</h5>
          <ul class="inline-list">
              <% habit.logs.each do |log| %>
                  <li></li>
              <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="newHabitModal" tabindex="-1" role="dialog" aria-labelledby="newHabitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New habit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "habits/partials/create_edit_form" %>
      </div>
    </div>
  </div>
</div>