<div class="card habit-card big-card">
    <h3><%= @habit.name.capitalize %></h3>
    <%= render '/days/partials/create_edit_form' %>
    <div id="log-history">
        <% log_history = @habit.logs.map {|log| log.day.logs_date } %>
        <% log_history.sort! {|a, b| b <=> a} %>
        
        <% log_history.each do |date| %>
            <div class="card-body small-shadow-card">
                <%= date.strftime(date.year < Time.new.year ? "%b %d, %Y" : "%b %d") %>
            </div>
        <% end %>
    </div>
<div>